
.customCard:global(.card) {
    background: var(--c1) ;
    border: 1px solid var(--c3);
    border-radius: 0px;
}

.avatar {
    aspect-ratio: 1 / 1;
    width: 80px;
    min-width: 50px;
    background: var(--c6) ;
    color: var(--c1);
    font-size: 2rem;
    font-weight: bold;
}

:global(.nav-pills) .navLink:global(.nav-link.active) {
    background-color: var(--c6);
    color: var(--c1);
    border-radius: 0;
}

.username {
    color: var(--c6);
    margin-bottom: 0.25rem;
}

.email {
    color: var(--c4);
    margin-bottom: 0.5rem;
}

.joinedDate {
    color: var(--c4);
    font-size: 0.875em;
}

:global(.nav-pills) .navLink:global(.nav-link) {
    color: var(--c6)  ;
    cursor: pointer;
    border-radius: 0px ;
    transition: background 0.2s;
}

.navLink:global(.nav-link):hover {
    background: var(--c2);
}

.sectionTitle {
    color: var(--c6);
    border-color: var(--c3) !important;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid;
}

.formLabel {
    color: var(--c5);
}

.formControl:global(.form-control) {
    background: transparent ;
    color: var(--c6) ;
    border: 1px solid var(--c3) ;
    border-radius: 0px ;
}

.formControl:global(.form-control):focus {
    background: transparent;
    color: var(--c6);
    border-color: var(--c5) ;
    box-shadow: none;
}

.formControl:disabled {
    background: rgba(0, 0, 0, 0.05);
    color: var(--c4);
    opacity: 1;
}

.formBtn {
    background: var(--c6) ;
    border: none ;
    border-radius: 0px ;
    padding: 10px 25px;
    color: var(--c1) ;
}

.pwdBtn {
    background: var(--c6) ;
    border: none ;
    border-radius: 0px ;
    padding: 10px 25px;
    color: var(--c1) ;
}

.formBtn:hover,
.pwdBtn:hover {
    opacity: 0.9;
    color: #fff;
}

.loadingText {
    color: var(--c6);
    text-align: center;
    margin-top: 3rem;
}