@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --c0: white;
    --c1: #fafafb;
    --c2: #dbd9d9;
    --c3: #beb7b3;
    --c4: #908681;
    --c5: #6d5a4e;
    --c6: #1b1a19;
    --c7: black
}

.dark {
    --c0: black;
    --c1: #111111;
    
    --c2: #2b2b2b;
    
    --c3: #3a3a3a;
    
    --c4: #908681;
    
    --c5: #b9a18c;
    
    --c6: #fafafb;
    
    --c7: white;
}


::-webkit-scrollbar {
    display: none;
}


.no-caret .dropdown-toggle::after {
    display: none !important;
}


html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--c1)
        
}