# =========================
# Node / Backend
# =========================
backend/node_modules/
backend/.env
backend/.env.local
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/dist/
backend/.cache/


# =========================
# React / Vite client
# =========================
client/node_modules/
client/.env
client/.env.local
client/.env.production
client/.env.development
client/dist/
client/build/
client/.vite/
client/.cache/

# Vite extra cache
client/.vite/deps/
client/.vite/cache/

# Root env safety
.env
.env.local



# =========================
# General System Files
# =========================
.DS_Store
Thumbs.db


# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# =========================
# Optional Extras
# =========================
*.local
*.cache
*.pid
*.seed
*.tgz
