/* Colors */
:root {
    --c1: #fafafb;
    --c2: #dbd9d9;
    --c3: #beb7b3;
    --c4: #908681;
    --c5: #6d5a4e;
    --c6: #1b1a19;
}


/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* remove arrow from ONLY this dropdown */
.no-caret .dropdown-toggle::after {
    display: none !important;
}


html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafb;
    /* your color */
}