.filterToggle {
    display: none;
    background: var(--c6);
    color: var(--c1);
    border: none;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.filterToggle:hover {
    opacity: 0.8;
}

.genderLabel {
    color: var(--c7);
    cursor: pointer;
}
.checkBox:global(.form-check-input) {
    background-color: var(--c4);
    border-color: var(--c4);
}


.checkBox:global(.form-check-input):focus,
.checkBox:global(.form-check-input):focus-visible {
    box-shadow: none;
    outline: none;
    border-color: var(--c4);
}


.checkBox:global(.form-check-input):checked {
    background-color: var(--c4);
    border-color: var(--c4);
}

@media (max-width: 768px) {
    .filterToggle {
        display: block;
    }

    .mobileHidden {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .mobileHidden {
        display: block !important;
    }
}

.filterCard:global(.card) {
    background: transparent;
    border-radius: 0px;
    padding: 22px;
    box-shadow: 0px 1px 5px var(--c6);
    border: 1px solid var(--c2);
    max-height: 78vh;
    overflow: auto;
}

.filterTitle {
    font-size: 22px;
    font-weight: 700;
    color: var(--c6);
    text-align: center;
    margin-bottom: 18px;
}

.filterLabel {
    color: var(--c6);
    font-weight: 500;
    font-size: 14px;
}

.filterInput:global(.form-control),
.filterSelect:global(.form-select) {
    background: var(--c2);
    border: none;
    border-radius: 0px;
    color: var(--c6);
    padding: 10px;
    font-size: 15px;
}

.filterInput:global(.form-control):focus,
.filterSelect:global(.form-select):focus {
    outline: none;
    box-shadow: none;
    background: var(--c3);
}

.btnApply {
    background: var(--c6);
    border: none;
    color: var(--c1);
    font-weight: 500;
    border-radius: 0px;
    padding: 0.375rem 0.75rem;
}

.btnApply:hover {
    opacity: 0.8;
}

.btnClear {
    background: var(--c2);
    border: none;
    color: var(--c6);
    border-radius: 0px;
    padding: 0.375rem 0.75rem;
}

.btnClear:hover {
    background: var(--c3);
}