
.cartContainer {
    padding: 20px;
    padding-top: 72px ;
    min-height: 85vh;
    font-family: "Urbanist", sans-serif;
}


.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    justify-content: center;
    text-align: center;
    color: var(--c5);
}

.empty h3 {
    font-weight: 600;
    margin-bottom: 8px;
}

.empty p {
    font-size: 15px;
}
.totalCard:global(.card) {
    background: transparent ;
    padding: 25px;
    border-radius: 0px ;
    box-shadow: 0 1px 1px var(--c6) ;
    margin-top: 35px;
}

.totalText {
    font-size: 22px;
    font-weight: 700;
    color: var(--c6);
    margin-bottom: 15px;
}

.checkoutBtn {
    width: 100%;
    padding: 13px;
    border-radius: 0px ;
    font-size: 17px;
    font-weight: 600;
    background: var(--c6) ;
    color: var(--c1) ;
    border: none ;
    transition: 0.2s ease;
    padding: 0.375rem 0.75rem;
}

.checkoutBtn:hover {
    background: var(--c4);
}

