@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

.cartContainer {
    padding: 20px;
    padding-top: 72px !important;
    min-height: 85vh;
    font-family: "Urbanist", sans-serif;
}


.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    justify-content: center;
    text-align: center;
    color: var(--c5);
}

.empty h3 {
    font-weight: 600;
    margin-bottom: 8px;
}

.empty p {
    font-size: 15px;
}
.totalCard {
    background: transparent !important;
    padding: 25px;
    border-radius: 0px !important;
    box-shadow: 0 1px 1px var(--c6) !important;
    margin-top: 35px;
}

.totalText {
    font-size: 22px;
    font-weight: 700;
    color: var(--c6);
    margin-bottom: 15px;
}

.checkoutBtn {
    width: 100%;
    padding: 13px;
    border-radius: 0px !important;
    font-size: 17px;
    font-weight: 600;
    background: var(--c6) !important;
    color: var(--c1) !important;
    border: none !important;
    transition: 0.2s ease;
}

.checkoutBtn:hover {
    background: var(--c4) !important;
}

