/* Main card */
.productCard {
    cursor: pointer;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: 1px solid #908681;
}

/* Hover border with theme color */
.productCard:hover {
    box-shadow: 0 0 1px #6d5a4e !important;
    /* theme color */
}

/* Image wrapper (square container) */
.imageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

/* Product image */
.productImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0px !important;
}

/* Product title */
.productTitle {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 16px !important;
    color: #1b1a19;
    margin-bottom: 0 !important;
    letter-spacing: 0.2px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Product price */
.productPrice {
    font-family: "Urbanist", sans-serif;
    color: #6d5a4e;
    /* theme color */
    font-weight: 700;
    font-size: 17px !important;
    margin: 0;
}