.switchWrapper {
    cursor: pointer;
    display: inline-block;
}

.switch {
    width: 55px;
    height: 28px;
    background: var(--c2);
    border-radius: 40px;
    position: relative;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0 6px;
}

.dark {
    background: var(--c5);
}

.circle {
    width: 22px;
    height: 22px;
    background: var(--c1);
    border-radius: 50%;
    position: absolute;
    left: 4px;
    transition: 0.3s ease;
    box-shadow: 0 2px 6px rgba(var(--c6-rgb), 0.25);
}

.dark .circle {
    left: 29px;
    background: var(--c1);
    box-shadow: 0 2px 6px rgba(var(--c1-rgb), 0.3);
}

/* icons */
.iconLeft,
.iconRight {
    font-size: 15px;
    position: absolute;
    top: 4px;
    pointer-events: none;
}

.iconLeft {
    left: 8px;
}

.iconRight {
    right: 5px;
}
