.wrapper {
    background: transparent;
    border-radius: 0px;
    padding: 30px;
}

/* Headings */
.heading {
    color: var(--c6);
    font-weight: 700;
}

.subHeading {
    color: var(--c6);
    font-weight: 600;
}

/* Cards */
.statCard,
.revenueCard,
.orderCard {
    background: var(--c1);
    border: 1px solid var(--c3) !important;
    border-radius: 0px !important;
}

.orderCard {
    padding: 14px 18px;
}

/* Labels under stats */
.label {
    color: var(--c4);
    font-size: 14px;
}

/* Stat numbers */
.value {
    color: var(--c5);
    font-weight: 700;
}

/* Latest Order Left Section */
.orderUser {
    color: var(--c6);
    font-weight: 600;
    margin-bottom: 4px;
}

.meta {
    color: var(--c4);
    font-size: 14px;
}

/* Status Chips */
.statusBox {
    padding: 4px 12px;
    border-radius: 0px;
    font-weight: 600;
    font-size: 14px;
    height: fit-content;
}