.productCard {
    background: var(--c1) !important;
    border: 1px solid var(--c3) !important;
    border-radius: 0px !important;
    padding: 15px;
    margin-bottom: 12px ;
    font-family: "Urbanist", sans-serif;
    transition: 0.2s ease;
    cursor: pointer;
}

.productCard:hover {
    border-color: var(--c4) !important;
}

.rowBox {
    display: flex;
    gap: 16px;
    align-items: center;
}

.productImg {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 0px;
    border: 1px solid var(--c3);
}

.productInfo {
    flex: 1;
}

.productName {
    font-size: 17px;
    font-weight: 700;
    color: var(--c6);
    margin: 0;
}

.productMeta {
    font-size: 14px;
    color: var(--c4);
    margin: 0;
}

.productPrice {
    font-weight: 700;
    font-size: 16px;
    color: var(--c5);
    margin-top: 5px;
}

.btnEdit {
    background: var(--c5) !important;
    border: none !important;
    border-radius: 0px !important;
    color: var(--c1) !important;
    font-weight: 600 !important;
    padding: 6px 12px !important;
}

.btnEdit:hover {
    background: #59483d !important;
}

.btnDelete {
    border-radius: 0px !important;
    padding: 6px 12px !important;
}