.heading {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    color: var(--c6);
    margin-bottom: 20px;
}

.orderCard {
    background: transparent !important;
    border: 1px solid var(--c3) !important;
    border-radius: 0px !important;
    padding: 18px 20px !important;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.orderCard:hover {
    border-color: var(--c5) !important;
}
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    justify-content: center;
    text-align: center;
    color: var(--c5);
}
.rowFlex {
    display: flex;
    gap: 20px;
    width: 100%;
}

.orderInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statusBar {
    border-radius: 0px !important;
    margin: auto;
}

.orderHeader {
    font-size: 18px;
    font-weight: 700;
    color: var(--c6);
    margin-bottom: 5px;
}

.meta {
    font-size: 14px;
    color: var(--c5);
}

.actionColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.btnAct {
    border-radius: 0px !important;
    padding: 6px 12px !important;
    background-color: transparent !important;
    border: 1px solid var(--c3) !important;
    color: var(--c6) !important;
}

.dropdownMenu {
    border-radius: 0px !important;
    padding: 5px 0 !important;
    background-color: var(--c1) !important;
    border: 1px solid var(--c3) !important;
}

.dropdownItem {
    font-size: 14px !important;
    padding: 6px 14px !important;
    color: var(--c6) !important;
}

.dropdownItem:hover {
    background-color: var(--c2) !important;
}

.addressBox {
    background: transparent;
    color: var(--c7);
    border: 1px solid var(--c2);
    padding: 12px;
    border-radius: 0px;
    margin-top: 12px;
}

.itemBox {
    padding: 10px 12px;
    background: var(--c1);
    border-radius: 0px;
    border: 1px solid var(--c2);
    margin-top: 10px;
    color: var(--c6);
}

.itemRow {
    display: flex;
    gap: 12px;
    padding: 8px 0;
    border-bottom: 1px solid var(--c2);
}

.itemRow:last-child {
    border-bottom: none;
}

.itemImg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 0px;
    border: 1px solid var(--c3);
}

@media (max-width: 600px) {
    .rowFlex {
        flex-direction: column;
    }

    .actionColumn {
        flex-direction: row;
        justify-content: space-between;
    }
}