.navbar {
    background-color: var(--c1);
    padding-top: 6px !important;
    padding-bottom: 0px !important
}

.navContainer {
    border-bottom: 1px solid var(--c2);
    padding-bottom: 5px;
    padding-top: 5px
}

.brand {
    font-size: 26px;
    font-weight: 800;
    color: var(--c6) !important;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', serif;
    letter-spacing: 0.5px;
}

.link:global(.nav-link) {
    color: var(--c6);
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.link:hover {
    color: var(--c5) !important;
}

.active {
    color: var(--c5) !important;
    padding-bottom: 3px;
    text-shadow: 0px 1px 1px var(--c5);
    font-weight: bolder !important;
}

.logout:global(.nav-link) {
    color: var(--c6);
    font-weight: bold;
        font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.logout:hover {
    color: var(--c5) !important;
}

.togglerIcon:global(.navbar-toggler) {
    background-color: rgb(210, 210, 210);
    padding: 0px;
    border-color: var(--c7);
    border-radius: 2px;
}

@media (max-width: 992px) {

    .link,
    .logout {
        padding: 10px 0 !important;
        border: none !important;
    }
}

.themeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}