

.footer {
    background-color: var(--c1);
    border-top: 1px solid var(--c2);
    margin-top: 40px;
}

.text {
    font-family: "Urbanist", sans-serif;
    color: var(--c4);
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 0;
}