.navbar * {
    font-family: "Urbanist", sans-serif;
    letter-spacing: 0.2px;
    font-weight: bold;
}

.navbar {
    background-color: var(--c1) ;
    border-bottom: 1px solid var(--c2) !important;
    padding-top: 4px;
    padding-bottom: 6px;
}

.navbar a,
.navbar .nav-link,
.navbar .dropdown-toggle {
    color: var(--c6) !important;
}

.navlink.active {
    color: var(--c5) !important;
    text-shadow: 0 -1px 1px var(--c5);
}

.brand:global(.navbar-brand) {
    font-size: 28px;
    font-weight: 800;
    color: var(--c6);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navlink {
    transition: 0.2s ease;
}

.navlink:hover {
    color: var(--c5) !important;
    text-shadow: 0 0 1px var(--c6);
}

.mobileCart {
    color: var(--c6) !important;
    font-weight: 600;
    margin-right: clamp(20px, 2.5vw, 30px);
}

.cartBadge:global(.badge.bg-primary) {
    width: 18px;
    height: 18px;
    font-size: 12px;
    top: 11px;
    right: -9px;
    background: green !important;
    color: var(--c1);
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
}

.cartBadgeDesktop:global(.badge) {
    width: 18px;
    height: 18px;
    font-size: 12px;
    top: 20px;
    right: 0;
    background: green !important;
    color: var(--c1);
    font-weight: 700;
}

:global(.dropdown-menu) {
    background-color: var(--c1) !important;
    border: 1px solid var(--c2) !important;
}

.dropdownItem:global(.dropdown-item) {
    color: var(--c6) !important;
    background-color: var(--c1) !important;
    font-weight: 600 !important;
    font-size: 15px;
    transition: 0.15s ease;
}

.dropdownItem:hover {
    background-color: var(--c2) !important;
    color: var(--c5) !important;
}

.dropdownItem:global(.dropdown-item.active),
.dropdownItem:global(.dropdown-item:active) {
    color: var(--c5) !important;
    text-shadow: 0 0 1px var(--c6);
}

.dropdownDivider:hover {
    background-color: transparent !important;
}

.togglerIcon {
    background-color: rgb(210, 210, 210) !important;
    padding: 0px !important;
    border-color: var(--c7) !important;
    border-radius: 2px !important;
}

.themeBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 8px;
}