
.searchForm {
    display: flex;
}

.searchInput:global(.form-control) {
    border-radius: 0px ;
    background-color: var(--c2) ;
    border: 1px solid var(--c3) ;
    color: var(--c6) ;
}
.searchInput:global(.form-control):focus {
    outline: none ;
    border-color: var(--c5);
    box-shadow: none;
    background-color: var(--c2);
    color: var(--c6);
}
/* styles.module.css */
.searchInput::placeholder {
    color: var(--c4) !important;
    font-size: 14px;
    font-weight: 500;
}
.searchButton {
    background-color: var(--c6);
    color: var(--c1);
    border: none;
    border-radius: 0px;
    padding: 0 15px;
}

.searchButton:hover {
    opacity: 0.8;
    color: var(--c1);
}
