
.searchForm {
    display: flex;
}

.searchInput {
    border-radius: 0px !important;
    background-color: var(--c2) !important;
    border: 1px solid var(--c3) !important;
    color: var(--c6) !important;
}
.searchInput:focus {
    outline: none !important;
    border-color: var(--c5) !important;
    box-shadow: none !important;
    background-color: var(--c2) !important;
    color: var(--c6);
}
.searchInput::placeholder {
    color: var(--c4) !important;
}

.searchButton {
    background-color: var(--c6);
    color: var(--c1);
    border: none;
    border-radius: 0px;
    padding: 0 15px;
}

.searchButton:hover {
    opacity: 0.8;
    color: var(--c1);
}
