.productCard {
    cursor: pointer;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: 1px solid var(--c4) !important;
}

.productCard:hover {
    box-shadow: 0 0 1px var(--c5) !important;
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: white;
}

.productImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0px !important;
}

.productTitle {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 16px !important;
    color: var(--c6) !important;
    margin-bottom: 0 !important;
    letter-spacing: 0.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productPrice {
    font-family: "Urbanist", sans-serif;
    color: var(--c5);
    font-weight: 700;
    font-size: 17px !important;
    margin: 0;
}