
.page {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.title {
    color: var(--c6);
    font-weight: 600;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}


.input {
    width: 320px;
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid var(--c3);
    background: transparent;
    font-size: 15px;
    color: var(--c6);
    outline: none;
}

.input::placeholder {
    color: var(--c4);
}


.button {
    width: 320px;
    padding: 0.375rem 0.75rem;
    border: none;
    background: var(--c6);
    color: var(--c1);
    font-size: 17px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}